body{
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#header{
  padding: 25px;
  font-size: 50px;
  font-weight: bold;
  text-decoration-color: white;
  background-color: #FFF8E7;
}

#navbar{
  background-color: #333;
  padding: 4px;
  font-size: 24px;
}

#navbar ul{
  padding: 0;
  list-style: none;
}

#navbar li{
  display: inline;
}

#navbar a{
  color: #fff;
  padding: 20px;
}

#navbar a:hover{
  color: #ff0737;
}

.container{
  font-size: 20px;
  padding: 10px;
  background-color: #f4f4f4;
}

#discord-quora{
  max-width: 100%
  height: auto;
  padding: 20px;
  padding-right: 20px;
  background-color: #f4f4f4;
}

#footer{
  background-color: #333;
  color: #fff;
  padding: 30px;
  font-size: 18px;
}

body{
  background-color: #FFF8E7;
}
